#question {
  margin-top: 100px;
  background-color: #f57c00;
  color: white;
  padding: 10px;
  text-align: center;
}

#question h4 {
  background-color: #fff;
  color: #0b0e21;
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 600;
}

#question p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-left: 50px;
  padding-right: 50px;
}

#submit {
  text-align: center;
  margin: 20px 0;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.fancy-btn {
  border: 2px solid #ff9800;
  border-radius: 0;
  background-color: #ff9800;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  margin: 0 auto;
  text-transform: uppercase;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.fancy-btn:hover {
  background-color: #fff;
  color: #0b0e21;
}

/*====================
        POPUP CSS
======================*/

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.popup h1 {
  background-color: #ff9800;
  color: white;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-top: 0;
}

.popup p {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 10% 0;
}

.pallete-div {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  height: 4em;
  overflow-x: scroll;
  align-items: center;
  padding: 1em;
}

.pallete-main {
  border: none;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  /* box-shadow: 1px 1px 1px black; */
  color: white;
  /* font: bold 15px/13px Helvetica, Verdana, Tahoma; */
  height: 3em;
  min-width: 3em;
  padding: 4px 3px 0 3px;
  text-align: center;
  background-color: gray;
  margin-right: 0.5em;
  cursor: pointer;
}
.unattemted {
  background-color: gray;
  color: white;
}
.visited {
  background-color: rgb(175, 175, 38);
  color: black;
}
.attempted {
  background-color: green;
  color: white;
}
